In [2]:
import wikipedia, re
from bs4 import BeautifulSoup
import pandas as pd
import wikipedia as wp
import numpy as np

###  Scrape  Wiki Toronto page

In [16]:
#Get the html source
html = wp.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('beautifulsoup_pandas.csv',header=0,index=False)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [14]:
df.shape

(288, 3)

In [15]:
df_filter=df.set_index('Borough')
df_filter.head()

                 Postcode     Neighbourhood
Borough
Not assigned          M1A      Not assigned
Not assigned          M2A      Not assigned
North York            M3A         Parkwoods
North York            M4A  Victoria Village
Downtown Toronto      M5A      Harbourfront

##### Drop the 'Not assigned' Boroughs

In [6]:
df=df_filter.drop(['Not assigned'])
df.reset_index(inplace=True)
df.shape

(211, 3)

##### Test if 'Not assigned' exists in Neighbourhood

In [7]:
test = list(df['Neighbourhood'])
'Not assigned' in test

True

##### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [8]:
#df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']
df['Neighbourhood'] = np.where(df['Neighbourhood']=='Not assigned', df['Borough'], df['Neighbourhood'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

##### For similar Postcode, group Neighbourhood into one row with the neighborhoods separated with a comma

In [9]:
df_grouped = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [10]:
test = list(df_grouped['Neighbourhood'])
'Not assigned' in test

False

##### The final number of rows are 103

In [11]:
df_grouped.shape

(103, 3)